<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style = "background-color : #53236d">
  <a class="navbar-brand" style = "color : white">Splitwise</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/" style = "color : white">Home <span class="sr-only">(current)</span></a>
        </div>
  </div>
  </nav>
    <h1>Hello {{session.username}}!!!!!,welcome to the family of splitwise</h1>
    <a href="/logout">
   <button type="Submit" name="button" value = "Logout" class = "btn btn-primary">Logout</button></a>
   <a href="#"><button type="button" name="button">Add friends</button></a>
  </body>

</html>
