
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style = "background-color : #53236d">
  <a class="navbar-brand" style = "color : white">Splitwise</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/login" style = "color : white">Login <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="/register" style = "color : white">SignUp <span class="sr-only">(current)</span></a>
    </div>
  </div>
  </nav>
  <div class="jumbotron">
    <b>About : </b>
    <p>Splitwise is a Providence, RI based company that makes it easy to split bills with friends and family. We organize all your shared expenses and IOUs in one place, so that everyone can see who they owe. Whether you are sharing a ski vacation, splitting rent with roommates, or owe someone for lunch, Splitwise makes life easier. We store data “in the cloud,” so that you can access it anywhere: on iPhone, Android, or on your computer.</p>
  </div>
  </body>
</html>
