
  <center><h1> <small> Welcome {{session.username}}</small></h1>
</center>
<div align="right">
<a href="/logout">

    <button>Logout</button></a></div>
<font color="green">{% include 'includes/_messages.html' %}</font>
{{session.userdata}}
<p><b>Hello {{session.username}},you are a member of Glosys company.You have an access to our database.
  We allow you to access our data.You can only read the data.



  About Us
  Company Overview

  Glosys Technology Solutions Pvt. Ltd.TM, a software product company incorporated in March 2015, has its Head Office and its Research Lab in Chennai. It focuses on developing products, providing solutions, enterprise consulting, services and training in  information technology sector both in India and Overseas.
  Our Perspective
  Culture

  We create a sustainable value by bringing a mix of passion, integrity, thought process, curiosity to learn, deep planning expertise, capacity to empower and execution excellence.

  Driving Innovation

  With the proliferation of digital technologies and new business models, we work on different possible permutations and combinations to observe the changes which keep happening for better outcomes and higher efficiency to analyse the demand and develop new competencies.

  Focus

  Glosys offers actionable insights, technology acumen and real-time experience.

  We adopt new strategies to improve customer satisfaction by effectively leveraging our expertise and work for the future by harnessing the Cloud, Analytics, Mobile, Social, Security and Internet of Things Technologies.

  Future

  Technology is moving into the next orbit with the emerging areas including Machine-Machine Interaction, Software Defined Everything, Smart Environments and Autonomous Devices.



      Products
      Solutions
      Glosys Research
      Glosys Academy

  Leadership Team

  Srinivasan Thanukrishnan  is founder and chief executive officer of Glosys Technology Solutions Pvt. Ltd. He plays a key role in defining the strategy  in terms of business development, resource management, technology transfer, benchmarking, conjoint analysis, process improvement with his 23 years professional experience. He focuses on providing collaborative technical leadership to software research & development team and building it higher to create a sustainable value and gain a competitive advantage with a dedicated team of  professionals having rich experience in IT sector. His primary interests include Innovation Management, Enterprise Cloud and Security, BI and Data Analytics, Mobile and IoT applications. He published 40 research papers in various reputed international conferences and Journals including the role of a program committee member, reviewer and session chair.He is a frequent speaker at industry and academic events.
</b></p>
